// Define variables for your color scheme

// For example:
$red: #ff0228;
$blue: #58affc;
$yellow: #fcf658;
$orange: #ffe105;
$green: #19b70e;
$gray: #000000;
$light-gray: #F4F4F4;
$medium-gray: #c1babb;
