
    <footer class='col-xs-12' style="margin-top: 20%;">
      <div class="footer">
        <div class="footer-box">
    <!--         <a href= "" class="our-blue">Who created this page?</a> -->
    <!--         <a href= "#" class="our-blue">Contact us</a>
            <a href= "#" class="our-blue">Meet the team</a>
            <a href= "#" class="our-blue">Terms and conditions</a> -->
        </div>
        <div class="footer-links">
          <!-- <h3>Find us on:</h3> -->
          <div class="margin-auto">
          <a href="https://github.com/Hedi84"><i class="fab fa-github our-blue"></i></a>
        <!--   <a href="#"><i class="fab fa-instagram our-blue"></i></a>
          <a href="#"><i class="fab fa-facebook-square our-blue"></i></a>
          <a href="#"><i class="fab fa-twitter-square our-blue"></i></a> -->
          <a href="https://www.linkedin.com/in/hedi-van-meurs/"><i class="fab fa-linkedin our-blue"></i></a>
          </div>
        </div>
      </div>
    </footer>
