<h1>My Dashboard</h1>
<h2>What would you like to do today, <%= @user.email %>?</h2>
<h3>View Your <%= link_to "Reports", reports_path %></h3>
<h3>Create a <%= link_to "New Report", new_report_path %></h3>
